.app-logo {
  height: 16vmin;
  position: fixed;
  top: 4vmin;
  left: 10vmin;
}

.app-header {
  background-color: #111836;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}